[submodule "libtiff"]
	path = ptiffstore/tpl/tiff-4.0.3
	url = https://github.com/vadz/libtiff.git
[submodule "pylibtiff"]
	path = ptiffstore/tpl/pylibtiff-read-only
	url = https://github.com/brianhelba/pylibtiff.git
