# Build files
*.pyc
docs/build
docs/docs
slideatlas/site_slideatlas.py

# Testing temporary files
testing/*.png
testing/*.log
testing/Testing
chromedriver.log
env/

# Typical IDE metadata
.idea
.project
.pydevproject
.vagrant
