Flask==0.10.1
Flask-Admin==1.0.8
Flask-Bootstrap==3.1.1.2
Flask-OAuthlib==0.4.3
Flask-Security==1.7.1

pymongo==2.7.0
mongoengine==0.8.7
flask-mongoengine==0.7.0

Sphinx==1.2.2
sphinxcontrib-httpdomain==1.2.1

# For tilereader
numpy==1.8.1

# For tilereader TODO potentially remove it

Pillow==2.4.0
svgwrite==1.1.5

# For websockets
gevent==1.0
gevent-websocket==0.9.3
Flask-Sockets==0.1
gunicorn==18.0
