<!doctype html>

<title>Comparison Viewer</title>


<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>



<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<!-- TODO: use common jquery for entire project avoiding duplication-->

<link type="text/css" href="{{ url_for('glviewer.static', filename='jquery/jquery-ui-1.8.22.custom.css') }}" rel="stylesheet" />
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='jquery/jquery-1.7.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='jquery/jquery-ui-1.8.22.custom.min.js') }}"></script>

<!-- used some objects, matrix as an array  -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='glMatrix-0.9.5.min.js') }}"></script>

<!-- Perspective camera etc. May be ready to remove -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='webgl-utils.js') }}"></script>

<!-- Edit menu, right click -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='comparisonEditMenu.js') }}"></script>

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='viewer-utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='init.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='loader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='camera.js') }}"></script>

<!-- Actor for tile -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='tile.js') }}"></script>

<!-- Source and cache for the viewer
Manages the list, and gives to camera, either lowres, or appropriate tiles
 -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='cache.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='section.js') }}"></script>

<!-- Single view, view interacts with the cache -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='view.js') }}"></script>

<!-- Has two views -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='viewer.js') }}"></script>



<!-- Widgets

Different widgets haev show dialog method,
hardcoded to the divs

Widgets have serialize method which creates an object

-->

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='arrowWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='circleWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='textWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='polylineWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='widgetPopup.js') }}"></script>

<!-- GUI widgets -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='recorderWidget.js') }}"></script>

<!-- Shapes starting with superclass

Viewer contains shape list
shape has visibility and

-->

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='shape.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='crossHairs.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='arrow.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='circle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='polyline.js') }}"></script>

<!-- Text uses texture map and not superclass shape, shares same API -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='text.js') }}"></script>

<!-- 1 Global, decides which viewer gets the event, viewer decides which is active widget to forward to, or else handle itself, sometimes forwards to change camera -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='eventManager.js') }}"></script>



<script id="shader-poly-fs" type="x-shader/x-fragment">
  precision mediump float;
  uniform vec3 uColor;
  void main(void) {
   gl_FragColor = vec4(uColor, 1.0);
   //gl_FragColor = vec4(0.5, 0.0, 0.0, 1.0);
  }
</script>
<script id="shader-poly-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;
  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
  }
</script>
<script id="shader-tile-fs" type="x-shader/x-fragment">
  #ifdef GL_ES
  precision highp float;
  #endif

  uniform sampler2D uSampler;
  varying vec2 vTextureCoord;

  void main(void) {
    gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
  }
</script>
<script id="shader-tile-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  attribute vec2 aTextureCoord;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;
  uniform mat3 uNMatrix;
  varying vec2 vTextureCoord;

  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    vTextureCoord = aTextureCoord;
  }
</script>
<script id="shader-text-fs" type="x-shader/x-fragment">
  precision mediump float;

  varying vec2 vTextureCoord;
  uniform sampler2D uSampler;
  uniform vec3 uColor;

  void main(void) {
    vec4 textureColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
    // Use the image pixel value as transparency.
    gl_FragColor = vec4(uColor, textureColor.rgb[0]);
  }
</script>
<script id="shader-text-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  attribute vec2 aTextureCoord;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;

  varying vec2 vTextureCoord;
  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    vTextureCoord = aTextureCoord;
  }
</script>
<script type="text/javascript">
  var TEMPLATE = "comparison.html";
  // Notes
  var SESSION_DATABASE;
  var USER;


  var ARGS;
  var ARG_ANNOTATIONS;
  var EDIT = false;
  var CANVAS;
  var EVENT_MANAGER;
  var VIEWER1;
  var VIEWER2;
  
  var SESSIONS_URL  = "{{url_for('session.sessions')}}";
  // I cannot get url_for to give me a path to comparison addresses
  var COMPARISON_OPTION_URL  = "/webgl-viewer/comparison-option";
  var COMPARISON_SAVE_URL  = "/webgl-viewer/comparison-save";
  var IMAGE_PATH_URL = "{{ url_for('glviewer.static', filename='') }}";

  // I cannot check if DUAL_VIEW is defined so just include it.
  var DUAL_VIEW = false;

  // sets the global variable ARGS
  function getArgs() {
    SESSION_DATABASE  = "{{question.viewer1.db}}";
    USER = "";

    // TODO: Try to copy the object in one command!!!
    ARGS = {};
    ARGS.Viewer1 = {};
    ARGS.Viewer1.db = "{{question.viewer1.db}}";
    ARGS.Viewer1.viewid = "{{question.viewer1.viewid}}";
    ARGS.Viewer1.image = "{{question.viewer1.image}}";
    ARGS.Viewer1.dimensions = {{question.viewer1.dimension}};
    ARGS.Viewer1.levels = {{question.viewer1.levels}};
    ARGS.Viewer1.origin = {{question.viewer1.origin}};
    ARGS.Viewer1.spacing = {{question.viewer1.spacing}};
    ARGS.Viewer1.center = {{question.viewer1.center}};
    ARGS.Viewer1.viewHeight = {{question.viewer1.viewHeight}};
    ARGS.Viewer1.rotation = {{question.viewer1.rotation}};
    // Copy the annotations for the view.
    ARGS.Viewer1.annotations = [];
    {% for annotation in question.viewer1.annotations %}
        var a = {};
        a.type = "text";
        a.string = "{{ annotation.string}}";
        a.color = {{ annotation.color }};
        a.offset = {{ annotation.offset }};
        a.position = {{ annotation.position }};
        ARGS.Viewer1.annotations.push(a);
       {% endfor %}    
    
    // Now for the optional views for Viewer2
    // Convert python structure into javascript.
    ARGS.Options = [];
    {% for option in question.options %}
        var view = {};
        view.label = "{{option.label}}";
        view.db = "{{option.db}}";
        view.img = "{{option.img}}";
        view.center = {{option.center}};
        view.viewHeight = {{option.viewHeight}};
        view.rotation = {{option.rotation}};
        ARGS.Options.push(view);
    {% endfor %}    
    ARGS.OptionInfo = [];
    {% for option in question.optionInfo %}
        var view = {};
        view.origin = {{option.origin}};
        view.spacing = {{option.spacing}};
        view.levels = {{option.levels}};
        view.dimensions = {{option.dimension}};
        ARGS.OptionInfo.push(view);
    {% endfor %}    
  }
 
  // hack to avoid an undefined error (until we unify annotation stuff).
  function ShowAnnotationEditMenu(x, y) {
  }
  
  function handleResize() {
    if (GL) {
      var width = CANVAS.innerWidth();
      var height = CANVAS.innerHeight();
      CANVAS.attr("width",width.toString());
      CANVAS.attr("height",height.toString());
      GL.viewport(0, 0, width, height);
    
      var halfWidth = width/2;
      if (VIEWER1) {
        VIEWER1.SetViewport([0, 0, halfWidth, height]);
        eventuallyRender();
      }
      if (VIEWER2) {
        VIEWER2.SetViewport([halfWidth, 0, halfWidth, height]);
        eventuallyRender();
      }
    }
  };

  function initViews() {
    var width = CANVAS.innerWidth();
    var height = CANVAS.innerHeight();
    var bds = [0,ARGS.Viewer1.dimensions[0], 0,ARGS.Viewer1.dimensions[1]];
    var source1 = new Cache({'database':ARGS.Viewer1.db,
                             '_id':ARGS.Viewer1.image,  
                             'levels':ARGS.Viewer1.levels,
                             'bounds':bds});
    var section1 = new Section();
    section1.Caches.push(source1);
    section1.Bounds = [0,ARGS.Viewer1.dimensions[0],0,ARGS.Viewer1.dimensions[1],0,0];
    var halfWidth = width/2;
    VIEWER1 = new Viewer([0,0, halfWidth,height], source1);
    VIEWER1.SetSection(section1);
    VIEWER2 = new Viewer([halfWidth,0, halfWidth,height], null);

    VIEWER1.SetCamera(ARGS.Viewer1.center, 
                      ARGS.Viewer1.rotation, 
                      ARGS.Viewer1.viewHeight);
    
    EVENT_MANAGER.AddViewer(VIEWER1);
    EVENT_MANAGER.AddViewer(VIEWER2);
    eventuallyRender();
  }

  function draw() {
    GL.clear(GL.COLOR_BUFFER_BIT | GL.DEPTH_BUFFER_BIT);
    // This just changes the camera based on the current time.
    VIEWER1.Animate();
    VIEWER2.Animate();
    VIEWER1.Draw();
    VIEWER2.Draw();
  }

  var E_DOWN = false;
  var D_DOWN = false;
  function handleMouseDown(event) { 
    // Left single click shows edit menu.
    // TODO: supress menu on double click.
    if (EDIT && event.which == 3) {
        ShowComparisonEditMenu(event.clientX, event.clientY);
    }
    EVENT_MANAGER.HandleMouseDown(event);
  }
  function handleMouseUp(event) {EVENT_MANAGER.HandleMouseUp(event);}
  function handleMouseMove(event) {EVENT_MANAGER.HandleMouseMove(event);}
  function handleMouseWheel(event) {EVENT_MANAGER.HandleMouseWheel(event);}
  function handleKeyDown(event) {
        if (event.keyCode == 49) { // the 1 key
          window.location = "/webgl-viewer?db="+ARGS.Viewer1.db+"&view="+ARGS.Viewer1.viewid;
        }
        if (event.keyCode == 34) { SessionAdvance();}
        if (event.keyCode == 68) { D_DOWN = true;}
        if (event.keyCode == 69) { E_DOWN = true;}
        if (D_DOWN && E_DOWN) {
            EDIT = ! EDIT; 
            alert("Edit: " + EDIT);
            E_DOWN = false;
            D_DOWN = false;
        }
        EVENT_MANAGER.HandleKeyDown(event);}
  function handleKeyUp(event) {
        if (event.keyCode == 68) { D_DOWN = false;}
        if (event.keyCode == 69) { E_DOWN = false;}
        EVENT_MANAGER.HandleKeyUp(event);}
  function cancelContextMenu(e) {
    //alert("Try to cancel context menu");
    if (e && e.stopPropagation)
      e.stopPropagation();
    return false;
  }

  

// Not used at the moment.
function InitAnnotations(viewer, annotations)
{
    if (annotations.length == 0) {
        return;
    }
    
    // Hack button to toggle annotation.
    $('<button>').appendTo('body').css({
        'opacity': '0.2',
        'position': 'absolute',
        'height': '50px',
        'width': '50px',
        'font-size': '30px',
        'bottom' : '5px',
        'left' : '5px',
        'z-index': '2'})
      .attr('id', 'annotationButton').text("A")
      .click(function(){
         ToggleAnnotationVisibility();});

    for (i in annotations) {
        var annotation = annotations[i];
        widget = new TextWidget(viewer, annotation.string);
        var p1 = annotation.position;
        var offset = annotation.offset;
        widget.SetPosition(p1[0], p1[1]);
        widget.SetTextOffset(offset[0], offset[1]);
        widget.SetAnchorShapeVisibility(true);
    }
}

function ToggleAnnotationVisibility() {
    SetAnnotationVisibility( ! VIEWER1.AnnotationVisibility);
}

function SetAnnotationVisibility(visibility) {
    VIEWER1.AnnotationVisibility = visibility;
    if (visibility) {
        $("#annotationButton").css({'opacity': '0.6'});
    } else {
        $("#annotationButton").css({'opacity': '0.2'});
    }
    eventuallyRender();    
}

  function webGLStart() {
    // Just to see if webgl is supported:
    var testCanvas = document.getElementById("gltest");
    if ( ! doesBrowserSupportWebGL(testCanvas)) {
        return; // WHat to do?  Function provides the alert.
    }

    // Setup the arguements in javascript globals.
    getArgs();
    
    initGL(); // Sets CANVAS and GL global variables
    EVENT_MANAGER = new EventManager(CANVAS);
    initImageTileBuffers();
    initViews();
    initShaderPrograms();
    initOutlineBuffers();

    $(window).resize(function() {
        handleResize();
    }).trigger('resize');

   
    
    GL.clearColor(0.9, 0.9, 0.9, 1.0);
    GL.enable(GL.DEPTH_TEST);

    CANVAS[0].onmousedown = handleMouseDown;
    CANVAS[0].onmousewheel = handleMouseWheel;
    document.onmouseup = handleMouseUp;
    document.onmousemove = handleMouseMove;

    document.onkeydown = handleKeyDown;
    document.onkeyup = handleKeyUp;
    document.oncontextmenu = cancelContextMenu;         

    // Create the annotations for viewer1 
    InitAnnotations(VIEWER1, ARGS.Viewer1.annotations);
    
    // Create the edit menu.
    InitComparisonEditMenus();
    
    
    // Place the zoom in / out buttons.
    // Todo: Make the button become more opaque when pressed.
    // Associate with viewer (How???).
    // Place properly (div per viewer?) (viewer.SetViewport also places buttons).
    $('<img>').appendTo('body').css({
        'opacity': '0.4',
        'position': 'absolute',
        'height': '50px',
        'width': '50px',
        'bottom' : '60px',
        'left' : '46%',
        'z-index': '2'
    }).attr('class', 'viewer1').attr('type','image').attr('src',"{{ url_for('glviewer.static', filename='zoomin2.png')}}").click(function(){
             VIEWER1.AnimateZoom(0.5);});
    $('<img>').appendTo('body').css({
        'opacity': '0.4',
        'position': 'absolute',
        'height': '50px',
        'width': '50px',
        'bottom' : '5px',
        'left' : '46%',
        'z-index': '2'
    }).attr('class', 'viewer1').attr('type','image').attr('src',"{{ url_for('glviewer.static', filename='zoomout2.png')}}").click(function(){
             VIEWER1.AnimateZoom(2.0);});

    // Place the zoom in / out buttons. For the second viewer
    $('<img>').appendTo('body').css({
        'opacity': '0.4',
        'position': 'absolute',
        'height': '50px',
        'width': '50px',
        'bottom' : '60px',
        'left' : '96%',
        'z-index': '2'
    }).attr('class', 'viewer2').attr('type','image').attr('src',"{{ url_for('glviewer.static', filename='zoomin2.png')}}").click(function(){
             VIEWER2.AnimateZoom(0.5);});
    $('<img>').appendTo('body').css({
        'opacity': '0.4',
        'position': 'absolute',
        'height': '50px',
        'width': '50px',
        'bottom' : '5px',
        'left' : '96%',
        'z-index': '2'
    }).attr('class', 'viewer2').attr('type','image').attr('src',"{{ url_for('glviewer.static', filename='zoomout2.png')}}").click(function(){
             VIEWER2.AnimateZoom(2.0);});
    $('.viewer2').hide();
             



    // Create the menu to select slides for the second view.
    $('<div>').appendTo('body').css({
        'background-color': 'white',
        'opacity': '0.6',
        'border-radius': '5px',
        'position': 'absolute',
        'height': '24px',
        'top' : '10px',
        'left' : '53%',
        'width': '35%',
        'z-index': '2',
        'text-align': 'center',
        'color': '#303030',
        'font-size': '20px'
    }).attr('id', 'diagnosis').text("Diagnosis").click(function(){
         $('#diagnoses').fadeToggle();}).mouseenter(function(){
         $('#diagnoses').fadeIn();});
    
    $('<div>').appendTo('body').css({
        'background-color': 'white',
        'opacity': '0.6',
        'border-radius': '5px',
        'position': 'absolute',
        'top' : '35px',
        'left' : '53%',
        'width': '35%',
        'z-index': '2',
        'color': '#303030',
        'font-size': '20px'
    }).attr('id', 'diagnoses');
    
    $('<ol>').appendTo('#diagnoses').attr('id', 'optionMenu').css({'width': '100%'});
    for (i in ARGS.Options) {
        $('<li>').appendTo('#optionMenu').text(ARGS.Options[i].label).css({'border-radius': '5px'});
    }
    
    $( "#optionMenu" ).selectable({
      stop: function() {
        $('#diagnosis').text($('.ui-selected').text());
        $('#diagnoses').fadeOut();
        $( ".ui-selected", this ).each(function() {
          var li = $( "#optionMenu li" );
          var t = li.text();
          var index = $( "#optionMenu li" ).index( this );
          changeOption(index);
        });
      }
    });    
    
    eventuallyRender();
  }

  function NewArrow() {
    // When the arrow button is pressed, create the widget.
    var widget = new ArrowWidget(VIEWER1, true);
    VIEWER1.ActiveWidget = widget;
    eventuallyRender();
  }

  function NewCircle() {
    // When the circle button is pressed, create the widget.
    var widget = new CircleWidget(VIEWER1, true);
    VIEWER1.ActiveWidget = widget;
  }

  function NewPolyline() {
    // When the text button is pressed, create the widget.
    VIEWER1.ActiveWidget = new PolylineWidget(VIEWER1, true);
  }

  function NewText() {
    // Just open the dialog, and let it take over.
    // The text is created when the apply button is pressed.

    // For debugging
    //var t = new Text();
    //t.Position = [6000,6000];
    //t.Color = [0,0,0];
    //t.String = "Hello\nWorld";
    //t.UpdateBuffers();
    //VIEWER1.AddShape(t);
    // Just open the dialog, and let it take over.
    // The text is created when the apply button is pressed.
    $("#text-properties-dialog").dialog("open");
  }

  function TextPropertyDialogApply() {
    var string = document.getElementById("textwidgetcontent").value;
    if (string == "") {
      alert("Empty String");
      return;
    }
    var widget = VIEWER1.ActiveWidget;
    var markerFlag = document.getElementById("TextMarker").checked;

    if (widget == null) {
      // This is a new widget.
      var widget = new TextWidget(VIEWER1, string);
    } else {
      widget.Shape.String = string;
      widget.Shape.UpdateBuffers();
      widget.SetActive(false);
    }
    widget.SetAnchorShapeVisibility(markerFlag);

    ComparisonSaveAnnotations();
    
    eventuallyRender();
  }

  function ArrowPropertyDialogApply() {
    var hexcolor = document.getElementById("arrowcolor").value;
    var widget = VIEWER1.ActiveWidget;
    //var fixedSizeFlag = document.getElementById("ArrowFixedSize").checked;
    widget.Shape.SetFillColor(hexcolor);
    if (widget != null) {
      widget.SetActive(false);
      //widget.SetFixedSize(fixedSizeFlag);
    }
    eventuallyRender();
  }

  function CirclePropertyDialogApply() {
    var hexcolor = document.getElementById("circlecolor").value;
    var widget = VIEWER1.ActiveWidget;
    widget.Shape.SetOutlineColor(hexcolor);
    var lineWidth = document.getElementById("circlelinewidth");
    widget.Shape.LineWidth = parseFloat(lineWidth.value);
    widget.Shape.UpdateBuffers();

    if (widget != null) {
      widget.SetActive(false);
    }
    eventuallyRender();
  }

  function PolylinePropertyDialogApply() {
    var hexcolor = document.getElementById("polylinecolor").value;
    var widget = VIEWER1.ActiveWidget;
    widget.Shape.SetOutlineColor(hexcolor);
    var lineWidth = document.getElementById("polylinewidth");
    widget.Shape.LineWidth = parseFloat(lineWidth.value);
    widget.Shape.UpdateBuffers();
    if (widget != null) {
      widget.SetActive(false);
    }
    eventuallyRender();
  }

  function WidgetPropertyDialogCancel() {
    var widget = VIEWER1.ActiveWidget;
    if (widget != null) {
      widget.SetActive(false);
    }
  }

  function WidgetPropertyDialogDelete() {
    var widget = VIEWER1.ActiveWidget;
    if (widget != null) {
      VIEWER1.ActiveWidget = null;
      // We need to remove an item from a list.
      // shape list and widget list.
      widget.RemoveFromViewer();
      WidgetPropertyDialogDelete();
      ComparisonSaveAnnotations();
      eventuallyRender();
    }
  }

  // function savequestion() {
      // saveConstants();
      // //window.location = "lessonmaker.php";
  // }

  function zoomIn() {
    VIEWER1.AnimateZoom(0.5);
  }

  function zoomOut() {
    VIEWER1.AnimateZoom(2.0);
  }

  function rotateRight() {
    VIEWER1.AnimateRoll(-12.0); // degrees
  }

  function rotateLeft() {
    VIEWER1.AnimateRoll(12.0); // degrees
  }

    //********************************************************

  function saveConstants() {
    var questionchoices = [];
    var questiontext = document.getElementById("qtext").value;
    var questiontitle = document.getElementById("title").value;

    var numAnswers = $('.answer').length;

    for(var i=0; i < numAnswers; i++){
      questionchoices[i] = $('.answer')[i].value;
    }

    var qid = QUESTION.qid.$id;
    var cam = VIEWER1.MainView.Camera;
    var camValues = {'roll':cam.Roll, 'fp':cam.FocalPoint, 'height':cam.Height};

    var correct = findChecked();

    correct = correct + '';

    var annots = [];

    for(var i=0; i < VIEWER1.WidgetList.length; i++){
      annots.push(VIEWER1.WidgetList[i].Serialize());
    }
    if(annots.length == 0){
        annots = 0;
    }

    $.post("setquestion.php", {qid: qid, qtitle:questiontitle, qtext: questiontext, choices: questionchoices, cam: camValues, corr: correct, annotations:annots}, function(cs){
        //alert(cs);
    });
  }

  function findChecked(){
    var span = document.getElementById("choicelist");
    var inputs = span.getElementsByTagName("input");
    var radios = [];
    for (var i = 0; i < inputs.length; ++i){
      if (inputs[i].type.toLowerCase() === "radio") {
        radios.push(inputs[i]);
      }
    }
    for (var i = 0; i < radios.length; ++i) {
      if (radios[i].checked) {
        return i;
      }
    }

    return 0;
  }

    $(document).ready(function() {

      $("#text-properties-dialog").dialog({
          autoOpen:false,
          height:250,
          width:350,
          modal:true,
          buttons:{
              Delete: function() {
                  WidgetPropertyDialogDelete();
                  $(this).dialog("close");
              },
              Apply: function() {
                  TextPropertyDialogApply();
                  $(this).dialog("close");
              }
          },
          close: function(event,ui) {
              if ( event.originalEvent && $(event.originalEvent.target).closest(".ui-dialog-titlebar-close").length ) {
                  WidgetPropertyDialogCancel();
                  $(this).dialog("close");
              }
              $("#textwidgetcontent").val( "" ).removeClass( "ui-state-error" );
          }
      });

      $("#arrow-properties-dialog").dialog({
          autoOpen:false,
          height:280,
          width:350,
          modal:true,
          buttons:{
              Delete: function() {
                  WidgetPropertyDialogDelete();
                  $(this).dialog("close");
              },
              Apply: function() {
                  ArrowPropertyDialogApply();
                  $(this).dialog("close");
              }
          },
          close: function(event,ui) {
              if ( event.originalEvent && $(event.originalEvent.target).closest(".ui-dialog-titlebar-close").length ) {
                  WidgetPropertyDialogCancel();
                  $(this).dialog("close");
              }
              //$("#arrowwidgetcontent").val( "" ).removeClass( "ui-state-error" );
          }
      });

    $("#circle-properties-dialog").dialog({
      autoOpen:false,
      height:300,
      width:350,
      modal:true,
      buttons:{
        Delete: function() {
          WidgetPropertyDialogDelete();
          $(this).dialog("close");
        },
        Apply: function() {
          CirclePropertyDialogApply();
          $(this).dialog("close");
        }
      },
      close: function(event,ui) {
        if ( event.originalEvent && $(event.originalEvent.target).closest(".ui-dialog-titlebar-close").length ) {
          WidgetPropertyDialogCancel();
          $(this).dialog("close");
        }
        //$("#arrowwidgetcontent").val( "" ).removeClass( "ui-state-error" );
      }
    });

    $("#polyline-properties-dialog").dialog({
      autoOpen:false,
      height:250,
      width:350,
      modal:true,
      buttons:{
        Delete: function() {
          WidgetPropertyDialogDelete();
          $(this).dialog("close");
        },
        Apply: function() {
          PolylinePropertyDialogApply();
          $(this).dialog("close");
        }
      },
      close: function(event,ui) {
        if ( event.originalEvent && $(event.originalEvent.target).closest(".ui-dialog-titlebar-close").length ) {
          WidgetPropertyDialogCancel();
          $(this).dialog("close");
        }
      }
    });

  });

</script>


<style>
#feedback { font-size: 1.4em; }
#optionMenu .ui-selecting { background: #FECA40; }
#optionMenu .ui-selected { background: #F39814; color: white; }
#optionMenu { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#optionMenu li { padding: 3px; height: 18px; width: 100%}
</style>


<canvas id="gltest" style="display:none" ></canvas>




 <div class="ui-widget" style="visibility:hidden">
      <table border="1" id="annotbuttons">
        <tr>
          <td>
            <img src="{{ url_for('glviewer.static', filename='Arrow.gif') }}" height="25" id="arrow" type="button" onclick="NewArrow();" />
          </td>
          <td>
            <img src="{{ url_for('glviewer.static', filename='Circle.gif') }}" height="25" id="arrow" type="button" onclick="NewCircle();" />
          </td>
          <td>
            <img src="{{ url_for('glviewer.static', filename='FreeForm.gif') }}" height="25" id="text" type="button" onclick="NewPolyline();" />
          </td>
          <td>
            <img src="{{ url_for('glviewer.static', filename='Text.gif') }}" height="25" id="text" type="button" onclick="NewText();" />
          </td>
        </tr>
      </table>
      <table border="1" id="zoombuttons" >
        <tr>
          <td type="button" onclick="zoomIn();" style="width:20px;height:20px;background-color:white;text-align:center;" >+</td>
        </tr>
        <tr>
          <td type="button" onclick="zoomOut();" style="width:20px;height:20px;background-color:white;text-align:center;" >-</td>
        </tr>
      </table>
      <table border="1" id="rotatebuttons" >
        <tr>
          <td type="button" onclick="rotateLeft();" style="width:20px;height:20px;background-color:white;text-align:center;" >
            <img src="{{ url_for('glviewer.static', filename='rotateLeft.jpg')}}" height="25" />
          </td>
          <td type="button" onclick="rotateRight();" style="width:20px;height:20px;background-color:white;text-align:center;" >
            <img src="{{ url_for('glviewer.static', filename='rotateRight.jpg') }}" height="25" />
          </td>
        </tr>
      </table>

      <div id="text-properties-dialog" title="Text Annotation Editor" >
        <form>
          <textarea id="textwidgetcontent" style="width:100%;height:100%;" ></textarea> </br>
          <input type="checkbox" id="TextMarker" checked /> Marker </input>
        </form>
      </div>

      <div id="circle-properties-dialog" title="Circle Annotation Editor" >
        <form>
          <fieldset>
            <!-- I plan to have a color selector and center and radius entries (thickness too) -->
            Color(#rrggbb):<input id="circlecolor" ></input></br>
            Line Width:<input id="circlelinewidth" ></input></br>
            <p id="circlearea"></p>
          </fieldset>
        </form>
      </div>

      <div id="polyline-properties-dialog" title="Polyline Annotation Editor" >
        <form>
          <fieldset>
            <!-- I plan to have a color selector and thickness, and maybe entries for the points.(closed too) -->
            Color(#rrggbb):<input id="polylinecolor" ></input></br>
            Line Width:<input id="polylinewidth" ></input>
          </fieldset>
        </form>
      </div>

      <div id="arrow-properties-dialog" title="Arrow Annotation Editor" >
        <form>
          <fieldset>
            <!-- I plan to have a color selector and maybe tip,orientation,length,thickness -->
            Color(#rrggbb):<input id="arrowcolor" ></input>
            <!--<input type="checkbox" id="ArrowFixedSize" checked /> FixedSize </input> -->
            <p id="ArrowLength"></p>
          </fieldset>
        </form>
      </div>
    </div>

<script>
    webGLStart();
</script>
