<!doctype html>

<head>
  <title>Connectome Viewer</title>

  <meta name="apple-mobile-web-app-capable" content="yes"/>
</head>
<!-- view.html -->

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<!-- Hacky attempt to fix mobile device rotate-resize bug -->
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />


<!-- TODO: use common jquery for entire project avoiding duplication-->

<script type="text/javascript" src="/static/thirdparty/jquery/1.7.2/jquery.min.js"></script>

<link type="text/css" href="/static/thirdparty/jquery-ui/1.8.22/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/static/thirdparty/jquery-ui/1.8.22/jquery-ui.min.js"></script>

<!-- used some objects, matrix as an array -->
<script type="text/javascript" src="/static/thirdparty/glmatrix/0.9.5-r1/glMatrix-min.js"></script>

<!-- Perspective camera etc. May be ready to remove -->
<script type="text/javascript" src="/static/thirdparty/webgl-utils/webgl-utils.js"></script>

<!-- Edit menu, right click -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='cookies.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='viewEditMenu.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='viewBrowser.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='dualViewWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='notesWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='tab.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='annotationWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='conferenceWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='recorderWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='navigationWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='favoritesWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='favoritesBar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='mobileAnnotationWidget.js') }}"></script>

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='toolTip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='viewer-utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='init.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='loader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='camera.js') }}"></script>

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='seedContour.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='align.js') }}"></script>

<!-- Body tag with ID, dialog code -->
<body id="body">
</body>

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='dialog.js') }}"></script>

<!-- Actor for tile -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='tile.js') }}"></script>

<!-- Source and cache for the viewer
Manages the list, and gives to camera, either lowres, or appropriate tiles
-->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='cache.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='section.js') }}"></script>

<!-- Single view, view interacts with the cache -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='view.js') }}"></script>

<!-- Has two views -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='viewer.js') }}"></script>

<!-- 1 Global, decides which viewer gets the event, viewer decides which is active widget to forward to, or else handle itself, sometimes forwards to change camera -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='eventManager.js') }}"></script>

<!-- Stuff for downloading the image -->
<script type="text/javascript" src="/static/thirdparty/blob/g7246d68/Blob.js"></script>
<script type="text/javascript" src="/static/thirdparty/canvas-toblob/g911df56/canvas-toBlob.js"></script>
<script type="text/javascript" src="/static/thirdparty/filesaver/g4d049e9/FileSaver.js"></script>

<!-- For 3d pathology -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='pairTransformation.js') }}"></script>


<!-- Widgets

Different widgets have show dialog method,
hardcoded to the divs

Widgets have serialize method which creates an object

-->

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='arrowWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='circleWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='textWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='polylineWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='pencilWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='fillWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='dialogWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='lassoWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='widgetPopup.js') }}"></script>

<!-- Shapes starting with superclass

Viewer contains shape list
shape has visibility and

-->

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='shape.js') }}"></script>

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='crossHairs.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='arrow.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='circle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='polyline.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='imageAnnotation.js') }}"></script>

<!-- Text uses texture map and not superclass shape, shares same API -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='text.js') }}"></script>

<!-- For websockets -->
<script type="text/javascript" src="/static/thirdparty/bson/0.2.9/bson.js"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='websocket.js') }}"></script>

<!---->
<script>
    window.PLUGINS = window.PLUGINS || {};
  </script>

{% for plugin in config.SLIDEATLAS_ENABLED_PLUGINS %}
  <!-- Loop over all enabled plugins instead of if else -->
  <script type="text/javascript" src="{{ url_for(plugin + '.static', filename='plugin.js') }}"></script>
  <script>
    window.PLUGINS["{{ plugin }}"] = new window["plugin_{{plugin}}"]();
  </script>
{% endfor %}

<script id="shader-poly-fs" type="x-shader/x-fragment">
  precision mediump float;
  uniform vec3 uColor;
  void main(void) {
   gl_FragColor = vec4(uColor, 1.0);
   //gl_FragColor = vec4(0.5, 0.0, 0.0, 1.0);
  }
</script>
<script id="shader-poly-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;
  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
  }
</script>
<script id="shader-tile-fs" type="x-shader/x-fragment">
  #ifdef GL_ES
  precision highp float;
  #endif

  uniform sampler2D uSampler;
  varying vec2 vTextureCoord;

  void main(void) {
    gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
  }
</script>
<script id="shader-tile-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  attribute vec2 aTextureCoord;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;
  uniform mat3 uNMatrix;
  varying vec2 vTextureCoord;

  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    vTextureCoord = aTextureCoord;
  }
</script>
<script id="shader-text-fs" type="x-shader/x-fragment">
  precision mediump float;

  varying vec2 vTextureCoord;
  uniform sampler2D uSampler;
  uniform vec3 uColor;

  void main(void) {
    vec4 textureColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
    // Use the image pixel value as transparency.
    gl_FragColor = vec4(uColor, textureColor.rgb[0]);
  }
</script>
<script id="shader-text-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  attribute vec2 aTextureCoord;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;

  varying vec2 vTextureCoord;
  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    vTextureCoord = aTextureCoord;
  }
</script> <!---->
<script type="text/javascript">
  var TEMPLATE = "view.html";
  var USER = "{{user}}";
  // A view has the same structure as a note.
  var VIEW_ID = "{{view}}";
  var EDIT = {{edit}}; // Temporary way to hide editing.
  var SESSIONS_URL = "{{url_for('session.sessions_view')}}";
  var IMAGE_PATH_URL = "{{ url_for('glviewer.static', filename='') }}";
  var MENU_IMAGE_URL = "{{ url_for('glviewer.static', filename='Menu.jpg')}}";


  //********************************************************

  $(document).ready(function() {
      //This is to solve the scroll-bar causing problems when an element is off the right or bottom sides of the page.
      $("body").css({'overflow-x': 'hidden', 'overflow-y': 'hidden'});
      StartView();
  });

</script>

<style>
#feedback { font-size: 1.4em; }
#optionMenu .ui-selecting { background: #FECA40; }
#optionMenu .ui-selected { background: #F39814; color: white; }
#optionMenu { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#optionMenu li { padding: 3px; height: 18px; width: 100%}
</style>



