<!doctype html>

<title>Connectome Viewer</title>


<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>



<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<!-- TODO: use common jquery for entire project avoiding duplication-->

<link type="text/css" href="{{ url_for('glviewer.static', filename='jquery/jquery-ui-1.8.22.custom.css') }}" rel="stylesheet" />
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='jquery/jquery-1.7.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='jquery/jquery-ui-1.8.22.custom.min.js') }}"></script>

<!-- used some objects, matrix as an array  -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='glMatrix-0.9.5.min.js') }}"></script>
<!-- Perspective camera etc. May be ready to remove -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='webgl-utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='cookies.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='annotationWidget.js') }}"></script>

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='viewer-utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='init.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='loader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='camera.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='tile.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='cache.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='loopWarp.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='meshWarp.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='section.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='view.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='viewer.js') }}"></script>



<!-- Widgets

Different widgets have show dialog method,
hardcoded to the divs

Widgets have serialize method which creates an object

-->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='dualViewWidget.js') }}"></script>

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='arrowWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='circleWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='textWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='polylineWidget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='pencilWidget.js') }}"></script>

<!-- Shapes starting with superclass

Viewer contains shape list
shape has visibility and

-->

<script type="text/javascript" src="{{ url_for('glviewer.static', filename='shape.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='crossHairs.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='arrow.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='circle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='polyline.js') }}"></script>
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='mesh.js') }}"></script>

<!-- Text uses texture map and not superclass shape, shares same API -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='text.js') }}"></script>

<!-- 1 Global, decides which viewer gets the event, viewer decides which is active widget to forward to, or else handle itself, sometimes forwards to change camera -->
<script type="text/javascript" src="{{ url_for('glviewer.static', filename='eventManager.js') }}"></script>

<!-- Stuff specific for connectome -->
<script type="text/javascript" src="{{ url_for('static', filename='connectome.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='binary-parser.js') }}"></script>




<script id="shader-poly-fs" type="x-shader/x-fragment">
  precision mediump float;
  uniform vec3 uColor;
  void main(void) {
   gl_FragColor = vec4(uColor, 1.0);
   //gl_FragColor = vec4(0.5, 0.0, 0.0, 1.0);
  }
</script>
<script id="shader-poly-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;
  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
  }
</script>
<script id="shader-tile-fs" type="x-shader/x-fragment">
  #ifdef GL_ES
  precision highp float;
  #endif

  uniform sampler2D uSampler;
  varying vec2 vTextureCoord;

  void main(void) {
    gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
  }
</script>
<script id="shader-tile-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  attribute vec2 aTextureCoord;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;
  uniform mat3 uNMatrix;
  varying vec2 vTextureCoord;

  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    vTextureCoord = aTextureCoord;
  }
</script>
<script id="shader-text-fs" type="x-shader/x-fragment">
  precision mediump float;

  varying vec2 vTextureCoord;
  uniform sampler2D uSampler;
  uniform vec3 uColor;

  void main(void) {
    vec4 textureColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
    // Use the image pixel value as transparency.
    gl_FragColor = vec4(uColor, textureColor.rgb[0]);
  }
</script>
<script id="shader-text-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  attribute vec2 aTextureCoord;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;

  varying vec2 vTextureCoord;
  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    vTextureCoord = aTextureCoord;
  }
</script>
<script type="text/javascript">
  var DATABASE_NAME = "{{db}}";
  var COLLECTION_NAME = "{{col}}";
  var NOTES_WIDGET = false;
  var CANVAS;
  var EVENT_MANAGER;
  var VIEWER1;
  var VIEWER2;
  var DUAL_VIEW = false;
    
  function RecordState () {
  }
  
  // hack to avoid an undefined error (until we unify annotation stuff).
  function ShowAnnotationEditMenu(x, y) {
  }
  
  function handleResize() {
    var width = CANVAS.innerWidth();
    var height = CANVAS.innerHeight();
    if (GL) {
      CANVAS.attr("width",width.toString());
      CANVAS.attr("height",height.toString());
      GL.viewport(0, 0, width, height);
    } // SetViewport does the work for 2d canvases.
    
    // we set the left border to leave space for the notes window.
    var left = 0;
    if (NOTES_WIDGET) { left = width * NOTES_WIDGET.WidthFraction;}
    // The remaining width is split between the two viewers.
    var width1 = (width-left) * VIEWER1_FRACTION;
    var width2 = (width-left) - width1;
    if (VIEWER1) {
      VIEWER1.SetViewport([left, 0, width1, height]);
      eventuallyRender();
    }
    if (VIEWER2) {
      VIEWER2.SetViewport([left+width1, 0, width2, height]);
      eventuallyRender();
    }
  };


  function InitViews() {

    var halfWidth = CANVAS.innerWidth()/2;
    var height = CANVAS.innerHeight();
    VIEWER1 = new Viewer([0,0, halfWidth,height], null);
    EVENT_MANAGER.AddViewer(VIEWER1);
                  
    VIEWER2 = new Viewer([halfWidth,0, halfWidth,height], null);
    EVENT_MANAGER.AddViewer(VIEWER2);

    handleResize();
  }

  function draw() {
    GL.clear(GL.COLOR_BUFFER_BIT | GL.DEPTH_BUFFER_BIT);
    // This just changes the camera based on the current time.
    VIEWER1.Animate();
    VIEWER2.Animate();
    VIEWER1.Draw();
    VIEWER2.Draw();
  }
  
  // The event manager detects single right click and double right click.
  // This gets galled on the single.
  function ShowPropertiesMenu(x, y) { ShowViewEditMenu(x, y);}

  function handleMouseDown(event) { EVENT_MANAGER.HandleMouseDown(event); }
  function handleMouseUp(event) { EVENT_MANAGER.HandleMouseUp(event); }
  function handleMouseMove(event) {EVENT_MANAGER.HandleMouseMove(event);}
  function handleMouseWheel(event) {EVENT_MANAGER.HandleMouseWheel(event);}
  function handleKeyDown(event) {
        // control: 17, z: 90, y: 89
        // left arrow, right arrow
        if (event.keyCode == 37) { ConnectomeAdvance(-1);}
        if (event.keyCode == 39) { ConnectomeAdvance(1);}
        // Pageup , pagedown
        if (event.keyCode == 33) { ConnectomeAdvance(-100);}
        if (event.keyCode == 34) { ConnectomeAdvance(100);}
        EVENT_MANAGER.HandleKeyDown(event);}
  function handleKeyUp(event) {EVENT_MANAGER.HandleKeyUp(event);}
  function cancelContextMenu(e) {
    //alert("Try to cancel context menu");
    if (e && e.stopPropagation)
      e.stopPropagation();
    return false;
  }


  function webGLStart() {
    // Just to see if webgl is supported:
    var testCanvas = document.getElementById("gltest");
    if ( ! doesBrowserSupportWebGL(testCanvas)) {
        return; // WHat to do?  Function provides the alert.
    }
    
    initGL(); // Sets CANVAS and GL global variables
    EVENT_MANAGER = new EventManager(CANVAS);
    initShaderPrograms();
    initOutlineBuffers();
    initImageTileBuffers();

    GL.clearColor(0.9, 0.9, 0.9, 1.0);
    GL.enable(GL.DEPTH_TEST);


    var can = CANVAS[0];
    can.addEventListener("mousedown",  handleMouseDown,  false);
    can.addEventListener("mousemove",  handleMouseMove,  false);
    can.addEventListener("mousewheel", handleMouseWheel, false);
    
    document.body.addEventListener("mouseup", handleMouseUp, false);
        
    document.onkeydown =   handleKeyDown;
    document.onkeyup =     handleKeyUp;
    document.oncontextmenu = cancelContextMenu;


    InitConnectome();
    InitViews();
    InitDualViewWidget();
    
    
    var annotationWidget1 = new AnnotationWidget(VIEWER1);
    var annotationWidget2 = new AnnotationWidget(VIEWER2);
    handleResize();
    DualViewUpdateGui();
    
    // Place the zoom in / out buttons.
    // Todo: Make the button become more opaque when pressed.
    // Associate with viewer (How???).
    // Place properly (div per viewer?) (viewer.SetViewport also places buttons).
    $('<img>').appendTo('body').css({
        'opacity': '0.4',
        'position': 'absolute',
        'height': '50px',
        'width': '50px',
        'bottom' : '60px',
        'right' : '5px',
        'z-index': '2'
    }).attr('id', 'zoomIn1')
      .attr('class', 'viewer1')
      .attr('type','image')
      .attr('src',"{{ url_for('glviewer.static', filename='zoomin2.png')}}")
      .click(function(){VIEWER1.AnimateZoom(0.5);});
    $('<img>').appendTo('body').css({
        'opacity': '0.4',
        'position': 'absolute',
        'height': '50px',
        'width': '50px',
        'bottom' : '5px',
        'right' : '5px',
        'z-index': '2'
    }).attr('id', 'zoomOut1')
      .attr('class', 'viewer1')
      .attr('type','image')
      .attr('src',"{{ url_for('glviewer.static', filename='zoomout2.png')}}")
      .click(function(){VIEWER1.AnimateZoom(2.0);});

    // Formalize this later (actual object and methods in viewer).
    // Register these buttons with the viewer.
    VIEWER1.AddGuiElement("#zoomIn1", "Bottom", 60, "Right", 55);
    VIEWER1.AddGuiElement("#zoomOut1", "Bottom", 5, "Right", 55);
     
     
    // Place the zoom in / out buttons. For the second viewer
    $('<img>').appendTo('body').css({
        'opacity': '0.4',
        'position': 'absolute',
        'height': '50px',
        'width': '50px',
        'bottom' : '60px',
        'left' : '96%',
        'z-index': '2'
    }).attr('id', 'zoomIn2')
      .attr('class', 'viewer2')
      .attr('type','image')
      .attr('src',"{{ url_for('glviewer.static', filename='zoomin2.png')}}")
      .click(function(){
             VIEWER2.AnimateZoom(0.5);});
    $('<img>').appendTo('body').css({
        'opacity': '0.4',
        'position': 'absolute',
        'height': '50px',
        'width': '50px',
        'bottom' : '5px',
        'left' : '96%',
        'z-index': '2'
    }).attr('id', 'zoomOut2')
      .attr('class', 'viewer2')
      .attr('type','image')
      .attr('src',"{{ url_for('glviewer.static', filename='zoomout2.png')}}")
      .click(function(){
             VIEWER2.AnimateZoom(2.0);});
    $('.viewer2').hide();
    VIEWER2.AddGuiElement("#zoomIn2", "Bottom", 60, "Right", 55);
    VIEWER2.AddGuiElement("#zoomOut2", "Bottom", 5, "Right", 55);

    eventuallyRender();
  }


  function zoomIn() {
    VIEWER1.AnimateZoom(0.5);
  }

  function zoomOut() {
    VIEWER1.AnimateZoom(2.0);
  }

  function rotateRight() {
    VIEWER1.AnimateRoll(-12.0); // degrees
  }

  function rotateLeft() {
    VIEWER1.AnimateRoll(12.0); // degrees
  }

    //********************************************************

    $(document).ready(function() {

      $("#text-properties-dialog").dialog({
          autoOpen:false,
          height:250,
          width:350,
          modal:true,
          buttons:{
              Delete: function() {
                  TextPropertyDialogDelete();
                  $(this).dialog("close");
              },
              Apply: function() {
                  TextPropertyDialogApply();
                  $(this).dialog("close");
              }
          },
          close: function(event,ui) {
              if ( event.originalEvent && $(event.originalEvent.target).closest(".ui-dialog-titlebar-close").length ) {
                  TextPropertyDialogCancel();
                  $(this).dialog("close");
              }
              $("#textwidgetcontent").val( "" ).removeClass( "ui-state-error" );
          }
      });

      $("#arrow-properties-dialog").dialog({
          autoOpen:false,
          height:280,
          width:350,
          modal:true,
          buttons:{
              Delete: function() {
                  ArrowPropertyDialogDelete();
                  $(this).dialog("close");
              },
              Apply: function() {
                  ArrowPropertyDialogApply();
                  $(this).dialog("close");
              }
          },
          close: function(event,ui) {
              if ( event.originalEvent && $(event.originalEvent.target).closest(".ui-dialog-titlebar-close").length ) {
                  ArrowPropertyDialogCancel();
                  $(this).dialog("close");
              }
              //$("#arrowwidgetcontent").val( "" ).removeClass( "ui-state-error" );
          }
      });

    $("#circle-properties-dialog").dialog({
      autoOpen:false,
      height:300,
      width:350,
      modal:true,
      buttons:{
        Delete: function() {
          CirclePropertyDialogDelete();
          $(this).dialog("close");
        },
        Apply: function() {
          CirclePropertyDialogApply();
          $(this).dialog("close");
        }
      },
      close: function(event,ui) {
        if ( event.originalEvent && $(event.originalEvent.target).closest(".ui-dialog-titlebar-close").length ) {
          CirclePropertyDialogCancel();
          $(this).dialog("close");
        }
        //$("#arrowwidgetcontent").val( "" ).removeClass( "ui-state-error" );
      }
    });

    $("#polyline-properties-dialog").dialog({
      autoOpen:false,
      height:250,
      width:350,
      modal:true,
      buttons:{
        Delete: function() {
          PolylinePropertyDialogDelete();
          $(this).dialog("close");
        },
        Apply: function() {
          PolylinePropertyDialogApply();
          $(this).dialog("close");
        }
      },
      close: function(event,ui) {
        if ( event.originalEvent && $(event.originalEvent.target).closest(".ui-dialog-titlebar-close").length ) {
          PolylinePropertyDialogCancel();
          $(this).dialog("close");
        }
      }
    });

  });

</script>


<style>
#feedback { font-size: 1.4em; }
#optionMenu .ui-selecting { background: #FECA40; }
#optionMenu .ui-selected { background: #F39814; color: white; }
#optionMenu { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#optionMenu li { padding: 3px; height: 18px; width: 100%}
</style>


<canvas id="gltest" style="display:none" ></canvas>



<div class="ui-widget" style="visibility:hidden">
  <div id="text-properties-dialog" title="Text Annotation Editor" >
    <form>
      <textarea id="textwidgetcontent" style="width:100%;height:100%;" ></textarea> </br>
      Color:<input type="color" id="textcolor" value="#0000ff"></input></br>
      <input type="checkbox" id="TextMarker" checked /> Marker </input>
    </form>
  </div>

  <div id="circle-properties-dialog" title="Circle Annotation Editor" >
    <form>
      <fieldset>
        <!-- I plan to have a color selector and center and radius entries (thickness too) -->
        Color:<input type="color" id="circlecolor" value="#30ff00" ></input></br>
        Line Width:<input id="circlelinewidth" ></input></br>
        <p id="circlearea"></p>
      </fieldset>
    </form>
  </div>

  <div id="polyline-properties-dialog" title="Polyline Annotation Editor" >
    <form>
      <fieldset>
        <!-- I plan to have a color selector and thickness, and maybe entries for the points.(closed too) -->
        Color:<input type="color" id="polylinecolor"  value="#30ff00" ></input></br>
        Line Width:<input id="polylinewidth" ></input>
      </fieldset>
    </form>
  </div>

  <div id="arrow-properties-dialog" title="Arrow Annotation Editor" >
    <form>
      <fieldset>
        <!-- I plan to have a color selector and maybe tip,orientation,length,thickness -->
        Color:<input type="color" id="arrowcolor"  value="#30ff00" ></input>
        <!--<input type="checkbox" id="ArrowFixedSize" checked /> FixedSize </input> -->
        <p id="ArrowLength"></p>
      </fieldset>
    </form>
  </div>
</div>

<script>
    webGLStart();
</script>
