.editButton {
    background: #FFF;
    padding : 1px;
    margin-right : 1px;
    border: 1px solid #AAA;
    border-radius: 3px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.editButton:hover {
  background-color: #CEF;
}

.editButton:active {
  background-color: #888;
}

.view:focus {outline:0; !important;}




.saButton:hover {
  background-color: #CEF;
}

.saButton:active {
  background-color: #888;
}

