{# adapted from Flask-Bootstrap base.html template -#}
{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{% block html %}
<head>
    {% block head %}
    <meta charset="utf-8">
    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metas %}

    <title>{% block title %}{% endblock title %}</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block styles %}{% endblock styles %}
    {% endblock head %}
</head>
<body>
    {% block body %}
    {% block navbar %}{% endblock navbar %}
    {% block content %}{% endblock content %}

    {% block scripts %}{% endblock scripts %}
    {% endblock body %}
</body>
{% endblock html %}
</html>
{% endblock doc %}
