{% extends 'frontend_base.html' %}


{% block title %}{{ super() }} - Collection Editor{% endblock title %}


{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="/static/thirdparty/jquery-ui/1.10.2/jquery-ui.css">
    <style>
        body {
            margin: 0;
        }
    </style>
{% endblock styles %}


{% block scripts %}
{{ super() }}
    <script src="/static/thirdparty/jquery-ui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('glviewer.static', filename='collectionBrowser.js') }}"></script>
    <script>
        var COLLECTION_ID = "{{ collection.id }}";

        function handleResize() {
            var top = $('#wrapper').position().top;

            // We need a dynamic resize
            $('body').css({"height": window.innerHeight});

            var height = window.innerHeight - 2 - top;
            $('#wrapper').css({"height": height});

            GALLERY1.HandleResize();
            GALLERY2.HandleResize();
        }

        var GALLERY1;
        var GALLERY2;
        function showDualView() {
            GALLERY1.Div
                .animate({'width':'50%'},'slow',
                         function(){
                             GALLERY2.Div.show();
                             GALLERY1.DualArrow.hide();
                             GALLERY2.DualArrow.show();
                         });
        }
        function hideDualView() {
            GALLERY1.Div
                .animate({'width':'100%'},'slow',
                         function(){
                             GALLERY1.DualArrow.show();
                             GALLERY2.DualArrow.hide();
                             GALLERY2.Div.hide();
                         });
        }

        $(document).ready(function() {
            var wrapper = $('<div>')
                .appendTo('body')
                .attr('id','wrapper')
                .css({'width': '100%',
                      'overflow': 'hidden'});

            GALLERY1 = new CollectionBrowser();
            GALLERY1.AppendTo(wrapper);
            // Must make a better API for this
            GALLERY1.DefaultCollectionLabel = "{{collection.label}}";
            GALLERY1.Div
                .css({'width': '100%',
                      'display':'inline-block',
                      'outline': '#888 solid 1px'});
            GALLERY1.DualArrow =
                $('<img>').appendTo(GALLERY1.OptionBar)
                    .css({'position': 'absolute',
                          'height': '20px',
                          'width': '20x',
                          'top':    '0px',
                          'right':  '0px'})
                    .attr('src',"/webgl-viewer/static/dualArrowLeft2.png")
                    .click(function(){showDualView();});

            GALLERY2 = new CollectionBrowser();
            GALLERY2.AppendTo(wrapper);
            GALLERY2.DefaultCollectionLabel = "{{collection.label}}";
            GALLERY2.DefaultSessionLabel = "";
            GALLERY2.Div
                .css({'width': '50%',
                      'display':'inline-block',
                      'outline': '#888 solid 1px'})
                .hide();
            GALLERY2.DualArrow =
                $('<img>').appendTo(GALLERY2.OptionBar)
                    .css({'position': 'absolute',
                          'height': '20px',
                          'width': '20x',
                          'top':    '0px',
                          'left':  '0px'})
                    .attr('src',"/webgl-viewer/static/dualArrowRight2.png")
                    .click(function(){hideDualView();});

            $(window).resize(function() {
                handleResize();
            }).trigger('resize');

        });
    </script>
{% endblock scripts %}
