{% extends 'frontend_base.html' %}
{% set active_page = 'home' %}


{% block styles %}
{{ super() }}
    <style>
        #home-image {
            border-radius: 10px !important;
            padding: 0;
        }
    </style>
{% endblock styles %}


{% block content %}
{{ super() }}
    <div class="container">
        <div class="row">
        <h2>Welcome to SlideAtlas</h2>
            <h4>Users: {% if not current_user.is_authenticated() %}
                <a class="btn btn-primary" href="{{ url_for_security('login') }}">Sign up</a> 
                {% endif %}<a class="btn btn-info" href="/sessions">Guest</a>
            </h4>
        </div>
        <div class="row">
            <img src="/static/img/SlideAtlas_home.jpg" id="home-image" class="img-responsive col-md-5">
            <br/>
        </div>
        <div class="row">
            <h3>Whole Slide Image Viewer</h3>
            <h4>Find, annotate and share your images: <a class="btn btn-info" href="http://slideatlas.kitware.com/" target="_blank">Learn More</a></h4>
        </div>
    </div>
{% endblock content %}
