{% extends "base.html" %}


{% block body_content %}
{{ super() }}

<div class="container">
    <div class="row">
        <div class="span8 offset1">
           <h1>Welcome to Slide Atlas</h1>
            <br/>
            <br/>
           <h3> Please sign in </h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span8 offset2 ">
            <form action="/login.passwd" method="POST">
                <div>
                    <label for="username">Username (email):<a href="login.signup"> Create account </a> </label>
                    <input type="text" name="username" id="username" value="">
                </div>
                <div>
                    <label for="passwd">Password:<a href="login.reset.request"> Forgot password </a> </label>
                    <input type="password" name="passwd" id="passwd" value="">
                </div>
                <div class="control-group">
                    <input type="hidden" name="next" value="{{next | safe}}">
                </div>
                <div>
                    <button class="btn" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="span8 offset1">
            <h3> Or use :  </h3>
        </div>
    </div>

    <div class="row">
        <div class="span8 offset2">
            <a href="/login.facebook" class="btn">Facebook login</a>
            <a href="/login.google" class="btn">Google login</a>
        </div>
    </div>
</div>
{% endblock %}

