{% extends "base.html" %}

{% block body_content %}
{{ super() }}


<div class="container">

<h1>Slide Atlas</h1>

<h2>Password login</h2>

<form action="/login.passwd" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="">
    </div>

    <div>
        <label for="passwd">Password:</label>
        <input type="password" name="passwd" id="passwd" value="">
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>

</form>

<h2><a href="/login.facebook">Facebook login</a></h2>

<h2><a href="/login.google">Google login</a></h2>
</div>
{% endblock %}

