{% extends "base.html" %}


{% block body_content %}
{{ super() }}
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/jquery-migrate-1.1.0.min.js"></script>

<script>
$(document).ready(function (){

    $("#passwd2").on("input", function (input) {
        if (input.target.value != document.getElementById('passwd').value) {
            input.target.setCustomValidity('The two passwords must match.');
        }
        else {
            // input is valid -- reset the error message
            input.target.setCustomValidity('');
        }
    });

     $("#update").submit(function(event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url : "/login.reset",
                data: { label: $("#name").val(), passwd : $("#passwd").val() },
                success : function( data ) {
                        data = JSON.parse(data);
                        if(data.hasOwnProperty("success")){
                            show_alert("Update successful!", "success");
                        } else {
                            show_alert("Update failed: " + data["error"], "error");
                        }
                    },
                error : function (data){
                        data = JSON.parse(data);
                        console.log("Error in submisison");
                        show_alert("Update failed!", "error");
                        console.log(data)
                }
            });
        });
    });

</script>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 offset1">
           <h1> Profile Update </h1>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <form action="/login.reset" method="post" id="update">
        <div class="span8 offset2 ">
            <div>
                <label for="email">Email:</label>
                <input type="email" value="{{email}}" name="email" id="email" disabled="disabled">
            </div>

            <div>
                <label for="name">Name:</label>
                <input type="text" value="{{name}}" name="name" id="name" required title="Name should be at least 5 characters long">
            </div>

            <div>
                <label for="passwd">Password:</label>
                <input type="password" name="passwd" id="passwd" required title="Password should be at least 5 characters long">
            </div>
            <div>
                <label for="passwd2" >Password (repeat):</label>
                <input type="password" name="passwd2" id="passwd2" required title="Passwords must match">
            </div>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
