{% extends "base.html" %}


{% block body_content %}
{{ super() }}
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/jquery-migrate-1.1.0.min.js"></script>

<script>
$(document).ready(function (){

    $("#signup").submit(function(event) {
        // Disable default action for submission
        event.preventDefault();

        // Disable controls to prevent multiple submission requests
        console.log("Ready to post password reset request.");

        $("#signup input").attr("disabled","disabled")
        $("#signup button").attr("disabled","disabled")

        // TODO: Notify with loading graphic

        $.ajax({
            type: "POST",
            url : "/login.reset.request",
            data: { email : $("#email").val() },
            success : function( data ) {
                console.log("Submisison successful")
                // Whether relevant account exists
                // Whether reset successful
                data = JSON.parse(data);
                if(data.hasOwnProperty("error")) {
                    show_alert(data["error"], "error");
                    $("#signup input").removeAttr("disabled");
                    $("#signup button").removeAttr("disabled");
                }
                if(data.hasOwnProperty("success")) {
                    show_alert("We have send an e-mail at <" + $("#email").val() + ">. Please follow the instructions to continue with password reset.", "success");
                }
            },
             error : function (data) {
                console.log("Submisison not successful")
                console.log(data)
                show_alert("Unable to process your request ", "error");
             }
        });
    });
});
</script>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 offset1">
           <h1> Password reset request </h1>
            <p> Please enter your email associated with your slide-atlas account, and a new randomly generated password will be sent there. </p>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <form action="/login.reset-request" method="post" id="signup">
            <div class="span8 offset1">
                    <div class="controls form-inline">
                        <label for="name">email:</label>
                        <input type="email" name="name" id="email" required title="Please enter a valid email">
                        <button type="submit" class="btn">Reset password</button>
                    </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

