{% extends "base.html" %}

{% block body_content %}
{{ super() }}

  <div class="container">
  <div class="row">
  <h1>Displaying a session list for {{ name}} !</h1>

    
    {# data #}
    {%if data.attachments|length %}
    <h2> Attachments </h2>
    <table class="table table-bordered table-hover" >
        {% for animage in data.attachments %}
            <tr> 
                <td><a href="sessions" class="lead"> {{ animage.name}} </a> 
                    </td>
                {% if animage.label %}
                  <td> <button type="button" class="btn btn-danger" >Admin</button> </td>
                {% else %}
                {% endif %}
            </tr>
         {% endfor %}
    </table>
    {%endif %}

    </br>
    
    {%if data.images|length %}
    <h2> Images </h2>
    <table class="table table-bordered table-hover" >
        {% for animage in data.images %}
            <tr> <td><a href="sessions" class="lead">{{ animage.label}}</a> </td>
                    <td align="right"><a href="{{animage.id}}" type="button" class="btn imageitem" imageid="{{animage.id}}"}> edit </button> </td>
                {% if animage.label %}
                  <td> <img src="{{url_for('tile.tile')}}/{{animage.id}}/t.jpg" width=100px></td>
                {% else %}
                {% endif %}
            </tr>
         {% endfor %}
    </table>
    {% endif %}
</div>
</div>

{% endblock %}


{% block bootstrap_js_bottom %}
    {{ super() }}
    
    <script>
        $(".imageitem").click(function () {
         var id = $(this).attr('imageid');
        alert(id);
        return(false);
        });
        </script>
{% endblock %}