{% extends 'frontend_base.html' %}
{% set active_page = 'sessions' %}

{% set is_session_admin = security.AdminSessionRequirement(session).can() %}


{% block styles %}
{{ super() }}
    {% if is_session_admin %}
    <style>
        /* file upload progress bar */
        .bar {
            height: 18px;
            background: green;
        }
    </style>
    <link rel="stylesheet" href="/static/css/uploads.css">
    {% endif %}
{% endblock styles %}


{% block scripts %}
{{ super() }}
    <script src="/static/thirdparty/bootbox/4.2.0/bootbox.min.js"></script>

    <!-- jQuery File Upload -->
    <script src="/static/thirdparty/jquery-fileupload/9.5.7/js/vendor/jquery.ui.widget.js"></script>
    <script src="/static/thirdparty/jquery-fileupload/9.5.7/js/jquery.iframe-transport.js"></script>
    <script src="/static/thirdparty/jquery-fileupload/9.5.7/js/jquery.fileupload.js"></script>

    <link type="text/css" href="/static/thirdparty/jquery-ui/1.8.22/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/thirdparty/jquery-ui/1.8.22/jquery-ui.min.js"></script>

    <script src="/static/js/attachments.js"></script>

    {% if is_session_admin %}
    <script src="/static/thirdparty/flow/flow.min.js"></script>
    <script>
        $( function () {
            $(".sa-question-mode").click(function() {
                var label = $(this).children("span");
                var mode;
                if (label.text() == "? Hide") {
                    mode = "answer-interactive";
                    label.text("? Quiz");
                } else if (label.text() == "? Quiz") {
                    mode = "answer-show";
                    label.text("? Show");
                } else {
                    mode = "answer-hide";
                    label.text("? Hide");
                }
                var notes = $('.sa-view-get');
                for (var i = 0; i < notes.length; ++i) {
                    var note = $(notes[i]);
                    var id = note.attr('sa-id');
                    var viewStr = JSON.stringify({_id:id, Mode:mode});
                    $('body').css({'cursor':'progress'});
                    $.ajax({
                        type: "post",
                        url: "/webgl-viewer/saveviewnotes",
                        data: {"note" : viewStr},
                        success: function(data,status) {
                            // How should we give user feedback?
                            $('body').css({'cursor':'default'});
                        },
                        error: function() {
                            $('body').css({'cursor':'default'});
                            alert("AJAX - error() : save view mode" );
                        },
                    });
                }
            });
            $(".sa-attachment-delete").click(function() {
                var attachmentItem = $(this).parent();
                var attachmentGet = $(this).siblings(".sa-attachment-get");
                var attachmentUrl = attachmentGet.attr("href");
                var attachmentName = attachmentGet.text();
                confirmAttachmentDelete(attachmentUrl, attachmentName, function() {
                    if(attachmentItem.is("li")) {
                        attachmentItem.remove();
                    }
                    else if(attachmentItem.is("td")) {
                        attachmentItem.parent().remove();
                    }
                });
            });
            $(".sa-attachment-post").click(function() {
                var attachmentPostUrl = "{{ url_for('apiv2.session_attachment_list', session=session, restype='attachments')}}";
                attachmentUpload(attachmentPostUrl);
            });
            $(".sa-view-permalink").click(function() {
                var viewId = $(this).data("viewid");
                var viewUrl = $(this).data("url");
                var viewName = $(this).parent().parent().find(".sa-view-get").text();
                getPermalink(viewName, viewId, viewUrl);
            });

            $(".sa-sortable")
                .sortable({stop: function( event, ui ) {
                    var viewRows = $(".sa-sortable").children();
                    var ids = [];
                    for (var i = 0; i < viewRows.length; ++i) {
                        ids.push($(viewRows[i]).attr("view-id"));
                    }
                    // Save the new order in the database
                    $.ajax({
                        type: "post",
                        url: "/webgl-viewer/save-view-order",
                        data: {"sess" : "{{session_son.id}}",
                               "data" : JSON.stringify(ids)},
                        success: function(data,status) {
                            // How should we give user feedback?
                            console.log("saved order");
                        },
                        error: function() {
                            alert("AJAX - error() : save order" );
                        },
                    });


                    console.log("sort stop");
                }});

            // Stuff to save a label when it is changed.
            // Event leave, focus out have not worked.  
            // Alternatively could look for enter keypress ....
            var saveTimer;
            var viewId;
            var viewLabel;
            var saveView = 
                function(id, label, div) {
                    var d = new Date();
                    var noteStr = JSON.stringify({_id:id, Title:label});
                    $.ajax({
                        type: "post",
                        url: "/webgl-viewer/saveviewnotes",
                        data: {"note" : noteStr,
                               "date" : d.getTime()},
                        success: function(data,status) {
                            // How should we give user feedback?
                            div.css({"color":"#6666AA"});
                            console.log("saved " + id + " " +label);
                        },
                        error: function() {
                            alert("AJAX - error() : save view label" );
                        },
                    });
                };
            $(".sa-view-get")
              .css({"color":"#6666AA"})
              .bind('input', function () {
                  var id = $(this).attr("sa-id");
                  var label = this.innerText;
                  $(this).css({"color":"#000000"});
                  if (saveTimer) {
                      clearTimeout(saveTimer);
                      if (viewId && viewId != id) {
                          // user move to annother too fast
                          saveView(viewId, viewLabel,$(self));
                      }
                  }
                  viewId = id;
                  viewLabel = label;
                  var self = this;
                  saveTimer = setTimeout(
                      function () {
                          saveView(viewId, viewLabel,$(self));
                      }, 2000);
              }); 


            // Stuff to save a session label when it is changed.
            var saveSessionTimer;
            var sessionId;
            var sessionLabel;
            var saveSession = 
                function(id, label, div) {
                    var sessionStr = JSON.stringify({_id:id, label:label});
                    $.ajax({
                        type: "post",
                        url: "/webgl-viewer/savesessiontitle",
                        data: {"session" : sessionStr},
                        success: function(data,status) {
                            // How should we give user feedback?
                            div.css({"color":"#6666AA"});
                        },
                        error: function() {
                            alert("AJAX - error() : save session label" );
                        },
                    });
                };
            $(".sa-session-get")
              .css({"color":"#6666AA"})
              .bind('input', function () {
                  var id = $(this).attr("sa-id");
                  var label = this.innerText;
                  $(this).css({"color":"#000000"});
                  if (saveSessionTimer) {
                      clearTimeout(saveSessionTimer);
                  }
                  sessionId = id;
                  sessionLabel = label;
                  var self = this;
                  saveSessionTimer = setTimeout(
                      function () {
                          saveSession(sessionId, sessionLabel,$(self));
                      }, 2000);
              }); 


            // By Djay
            $(".sa-upload-images").click(function() {
                alert("Working on this ..");
            });

            $(".sa-imagefile-resubmit").click(function() {
                var attachmentItem = $(this).parent();
                var attachmentGet = $(this).siblings(".sa-attachment-get");
                var attachmentUrl = attachmentGet.attr("href");
                var attachmentName = attachmentGet.text();
                reSubmitImagefile(attachmentName, attachmentUrl, function() {
                    alert("Submitted " + attachmentName);
                });
            });
        });

    $(document).ready(function() {
        // Code for own management of step meters

        // var results = new VideoProgress({container : $("#videos")});
        // results.AddVideo("123456789012345678901234567890");
        //

        // Hide progress bar
        $('.flow-progress').hide();

        var r = new Flow({
            target: function(file) {
                var post_target = "{{ url_for('apiv2.session_attachment_list', session=session, restype='imagefiles' )}}";
                console.log("Target was set to: " + post_target + "/" + file.uniqueIdentifier);
                return post_target + "/" + file.uniqueIdentifier;
            },
            chunkSize: 1024*1024, // 1 mb
            generateUniqueIdentifier: function() {
                var html;
                console.log("Getting unique identifier.");
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('apiv2.session_attachment_list', session=session, restype='imagefiles' )}}",
                    async: false,
                    success: function (data){
                        html = data;
                    }
                });
                return html.id;
              },
            testChunks: false,
            simultaneousUploads : 1
        });

        // Flow.js isn't supported, fall back on a different method
        if (!r.support) {
            $('.flow-error').show();
            return ;
        }
        // Show a place for dropping/selecting files
        $('.flow-drop').show();
        r.assignDrop($('.flow-drop')[0]);
        r.assignBrowse($('.flow-browse')[0]);
        r.assignBrowse($('.flow-browse-folder')[0], true);

        // Handle file add event
        r.on('fileAdded', function(file){
            console.log("File Added: ");
            console.log(file);

            $('.flow-list').show();

            // Add the file to the list
            $('.flow-list').append(
                    '<tr class="flow-file-'+file.uniqueIdentifier + '">' +
                    '<td><span class="flow-file-status"></span><br/>' +
                    '</td>' +
                    '<td>' +
                      '<span class="flow-file-name"></span> ' +
                      '<span class="flow-file-size"></span> ' +
                      '<span class="flow-file-progress"></span>' +
                    '</td> <td>' +
                    '<div class="progress"> <div class="progress-bar progress-bar-info progress-bar-striped file-progress-bar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">' +
                    '<span class="file-progress-label">%' +
                    '</div> </div>' +
                     // TODO: test and enable resume
                      // '<span class="flow-file-pause">' +
                      // ' <img src="/static/img/pause.png" title="Pause upload" />' +
                      // '</span>' +
                      // '<span class="flow-file-resume">' +
                      // ' <img src="/static/img//resume.png" title="Resume upload" />' +
                      // '</span>' +
                      // '<span class="flow-file-cancel">' +
                      // ' <img src="/static/img/cancel.png" title="Cancel upload" />' +
                      // '</span>' +

                    '</td> </tr>'
            );
            var $self = $('.flow-file-'+file.uniqueIdentifier);
            $self.find('.flow-file-status').html('<div class="label label-primary">uploading</div>');
            $self.find('.flow-file-name').text(file.name);
            $self.find('.flow-file-size').text(readablizeBytes(file.size));
            $self.find('.flow-file-pause').on('click', function () {
              file.pause();
              $self.find('.flow-file-pause').hide();
              $self.find('.flow-file-resume').show();
            });
            $self.find('.flow-file-resume').on('click', function () {
              file.resume();
              $self.find('.flow-file-pause').show();
              $self.find('.flow-file-resume').hide();
            });
            $self.find('.flow-file-cancel').on('click', function () {
              file.cancel();
              $self.remove();
            });
        });

        r.on('filesSubmitted', function(file) {
            r.upload();
        });

        r.on('complete', function(){
            // Hide pause/resume when the upload has completed
            $('.flow-progress .progress-resume-link, .flow-progress .progress-pause-link').hide();
            window.onbeforeunload = null;
        });

        r.on('fileSuccess', function(file,message){
            // Reflect that the file upload has completed
            var $self = $('.flow-file-'+file.uniqueIdentifier);

            $self.find('.flow-file-progress').text('(completed)');

            $self.find('.flow-file-status').html('<div class="label label-info">pending</div>');

            $self.find('.flow-file-pause, .flow-file-resume .flow-file-cancel')
              .remove();

            $self.find(".progress").remove();

            console.log("Completed: " + file.uniqueIdentifier);
                // results.AddVideo(file.uniqueIdentifier);
        });

        r.on('fileError', function(file, message){
            // Reflect that the file upload has resulted in error
            $('.flow-file-'+file.uniqueIdentifier+' .flow-file-progress').html('(file could not be uploaded: '+message+')');
        });

        r.on('fileProgress', function(file){
            // Handle progress for both the file and the overall upload
            var $self = $('.flow-file-'+file.uniqueIdentifier);
            $self.find('.file-progress-label')
              .text(Math.floor(file.progress()*100) + '% ');

            $self.find('.file-progress-bar').css({width:Math.floor(r.progress()*100) + '%'});

            $self.find('.fow-file-progress').text(secondsToStr(file.timeRemaining()) + ' remaining');
        });

        r.on('uploadStart', function(){
            // Show pause, hide resume
            $('.flow-progress .progress-resume-link').hide();
            $('.flow-progress .progress-pause-link').show();

            function confirmExit() {
                return "A file is being uploaded .. do you really want to exit ?";
            }
            window.onbeforeunload = confirmExit;
        });

        r.on('catchAll', function() {
            console.log.apply(console, arguments);
        });
        window.r = {
            pause: function () {
                r.pause();
                // Show resume, hide pause
                $('.flow-file-resume').show();
                $('.flow-file-pause').hide();
                $('.flow-progress .progress-resume-link').show();
                $('.flow-progress .progress-pause-link').hide();
            },
            cancel: function() {
                r.cancel();
                $('.flow-file').remove();
            },
            upload: function() {
                $('.flow-file-pause').show();
                $('.flow-file-resume').hide();
                r.resume();
            },
            flow: r
        };

        function readablizeBytes(bytes) {
          var s = ['bytes', 'kB', 'MB', 'GB', 'TB', 'PB'];
          var e = Math.floor(Math.log(bytes) / Math.log(1024));
          return (bytes / Math.pow(1024, e)).toFixed(2) + " " + s[e];
        }

        function secondsToStr (temp) {
          function numberEnding (number) {
            return (number > 1) ? 's' : '';
          }
          var years = Math.floor(temp / 31536000);
          if (years) {
            return years + ' year' + numberEnding(years);
          }
          var days = Math.floor((temp %= 31536000) / 86400);
          if (days) {
            return days + ' day' + numberEnding(days);
          }
          var hours = Math.floor((temp %= 86400) / 3600);
          if (hours) {
            return hours + ' hour' + numberEnding(hours);
          }
          var minutes = Math.floor((temp %= 3600) / 60);
          if (minutes) {
            return minutes + ' minute' + numberEnding(minutes);
          }
          var seconds = temp % 60;
          return seconds + ' second' + numberEnding(seconds);
        }
    });

    </script>
    {% endif %}
    <script>
        $(document).ready(function(){
            // Save the session in localStorage (needed for previous / next slide.
            var views = {{ session_son.views|map(attribute='id')|tojson|safe }};
            localStorage.session = JSON.stringify(views);
            localStorage.sessionId = "{{ session_son.id }}";
        });
    </script>
{% endblock scripts %}


{% block content %}
{{ super() }}
    <div class="container">
        <div class="row">
            <h1 sa-id="{{session_son.id}}" class="sa-session-get" contenteditable="true">
                {{ session_son.label }}
            </h1>

            {% if is_session_admin %}
            <div class="pull-right">
            <button type="button"
                    class="btn btn-primary badge sa-question-mode">
                <span>? Mode</span>
            </button>
            </div>
            {% endif %}

        </div>
        <div class="row">
            {%if session_son.attachments or is_session_admin %}
            <h2>
                <span>Attachments</span>
                <div class="pull-right">
                {% if is_session_admin %}
                <button type="button"
                        class="btn btn-primary badge sa-attachment-post">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span> Upload</span>
                </button>
                {% endif %}
                </div>
            </h2>
            <ul class="list-group">
                {% for attachment_son in session_son.attachments %}
                <li class="list-group-item">
                    <a href="{{ url_for('apiv2.session_attachment_item', session=session, attachment_id=attachment_son.id, restype='attachments') }}" class="lead sa-attachment-get">{{ attachment_son.name }}</a>
                    {% if is_session_admin %}
                    <button type="button"
                            class="btn btn-danger badge sa-attachment-delete">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    {% endif %}
                </li>
                 {% endfor %}
            </ul>
            {% endif %}
            <br>
            {% if security.EditSessionRequirement(session).can() %}
            <h2>
                <span>{{ session_son.views|length }} Images</span>
                <div class="pull-right">
                    <a href="{{ url_for('.session_new_stack', session=session) }}">
                        <button class="btn btn-primary badge">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span> Stack</span>
                        </button>
                    </a>
                    <a href="../webgl-viewer?edit=true&view=presentation&sess={{ session_son.id }}">
                        <button class="btn btn-primary badge">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span> Presentation</span>
                        </button>
                    </a>
                </div>
            </h2>
            {% endif %}

            {% if is_session_admin %}
            <div class="flow-drop" ondragenter="jQuery(this).addClass('flow-dragover');" ondragend="jQuery(this).removeClass('flow-dragover');" ondrop="jQuery(this).removeClass('flow-dragover');">
            Drop images here or <a class="flow-browse-folder"><u>select a folder</u></a> or <a class="flow-browse"><u>select individual images</u> </a> to upload
            </div>

            <div class="flow-progress" display="none"> </div>
            <br/>
            {% endif %}


            <table class="table table-bordered table-hover" >
            {% if is_session_admin %}
            <tbody>
                <!--Render the imagefiles in process -->
                {% for imagefile_son in session_son.imagefiles %}
                    <!-- {{ imagefile_son | tojson}} -->
                    {% set label = "unknown" %}
                    {% set status = imagefile_son.metadata.status %}
                    {% if "metadata" in imagefile_son.keys() %}
                        {% if imagefile_son.metadata.status == "processing" %}
                            {% set label = "warning" %}
                        {% elif imagefile_son.metadata.status == "complete" %}
                            {% set label = "success" %}
                        {% elif imagefile_son.metadata.status == "failed" %}
                            {% set label = "danger" %}
                        {% else %}
                            {% set label = "info" %}
                            {% set status = "pending" %}
                        {% endif %}
                    {% endif %}
                    <!-- {{ label|tojson|safe}}, {{status|tojson|safe}} -->
                    {% if not label in ["success", "unknown"] %}
                    <tr>
                    <td>
                        <div class="label label-{{label}}"> {{status}} </div>
                    </td>
                    <td>
                        <a href="{{ url_for('apiv2.session_attachment_item', session=session, attachment_id=imagefile_son.id, restype='imagefiles') }}" class="lead sa-attachment-get">{{ imagefile_son.name }}</a>
                        {% if is_session_admin %}
                        <button type="button" class="btn btn-danger badge sa-attachment-delete pull-right"><span class="glyphicon glyphicon-remove"></span>Delete</button>
                        <button type="button" class="btn btn-warning badge sa-imagefile-resubmit pull-right"><span class="glyphicon glyphicon-repeat"></span> Re-try</button>

                        {% endif %}
                    </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            <!-- Insert the rows for incoming  for -->
            <tbody class="flow-list">
            </tbody>
            {% endif %}

            <tbody class="sa-sortable">
                {% for view_son in session_son.views %}
                    {% set viewer_edit_url = url_for('glviewer.glview', sess=session.id, view=view_son.id, edit='true') %}
                    {% set viewer_url = viewer_edit_url if security.EditSessionRequirement(session).can() else viewer_view_url %}
                    <tr view-id="{{ view_son.id }}">
                        <td height=52px>
                            <a href="{{ viewer_url }}">
                                <img src="{{ url_for('tile.thumb_query', db=view_son.image_store_id, img=view_son.image_id) }}"
                                     {% if view_son.Type == 'Stack' %}class="sa-view-stac"{% endif %}
                                     alt="Open" title="Open" width="100px">
                            </a>
                        </td>
                        <td>
                            <div sa-id="{{view_son.id}}" class="lead sa-view-get" contenteditable="true">
                              {{ view_son.label }}
                            </div>
                        </td>
                        {% if security.EditSessionRequirement(session).can() %}
                        <td align="right">
                            {# TODO: permalink should redirect to viewer_edit_url if another admin follows it #}
                            <button type="button"
                                    class="btn btn-info badge sa-view-permalink"
                                    data-url="{{ viewer_view_url }}"
                                    data-viewid="{{ view_son.id }}">
                                <i class="glyphicon glyphicon-link"></i>
                                <span> Permalink</span>
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
