{% extends 'frontend_base.html' %}
{% set active_page = 'sessions' %}

{% set is_site_admin = security.AdminSiteRequirement().can() %}


{% block styles %}
{{ super() }}
    <style>
        button {
            float: right;
        }

        .header-link {
          opacity: 0;

          -webkit-transition: opacity 0.2s ease-in-out 0.1s;
          -moz-transition: opacity 0.2s ease-in-out 0.1s;
          -ms-transition: opacity 0.2s ease-in-out 0.1s;
        }

        h2:hover .header-link,
        h3:hover .header-link,
        h4:hover .header-link,
        h5:hover .header-link,
        h6:hover .header-link {
          opacity: 1;
        }

        .anchor {
            padding-top: 60px;
            margin-top: -60px;
        }

        .sa-session-delete {
            color: #e55;
            margin-left: 5px;
        }
        .sa-session-delete:hover {
            color: #C00;
        }
    </style>
{% endblock styles %}


{% block scripts %}
    {{ super() }}

    {% if is_site_admin %}
        {# TODO: These standard scripts will be included higher up in the inheritance  #}
        <script src="/static/thirdparty/bootbox/4.2.0/bootbox.min.js"></script>

        <script src="/static/js/sessions.js"></script>
        <script>
                $(".sa-create-session").click(function() {
                    var collection_id = $(this).parent().data("collection-id");
                    createNewSession(collection_id, function() {
                        // Todo think of another mechanism to load the page
                        window.location = "?reload=" + Date.now() + "#" + collection_id;
                    });
                });
                $(".sa-session-delete")
                    .click(function() {
                        var session_id = $(this).data("session-id");
                        var collection_id = $(this).data("collection-id");
                        if (confirm("Delete the session and views, but not the whole-slide images.")) {
                            $.ajax({
                                type: "DELETE",
                                url: "/api/v2/sessions/" + session_id,
                                success: function() {
                                    window.location = "?reload=" + Date()
                                        + "#" + collection_id;
                                },
                                error: function() {
                                    alert( "AJAX - error() : session-delete" );
                                }
                            });
                        }
                    });
        </script>
    {% endif %}
{% endblock scripts %}

{% block content %}
{{ super() }}
    <div class="container">
        {% for (collection, sessions) in all_sessions %}
        <div class="row" data-collection-id="{{ collection.id }}">
            <h2 class="anchor pull-left" id="{{ collection.id }}">
                <span>{{ collection.label }}</span>
                <a class="header-link" href="#{{ collection.id }}">
                    <span style="font-size: 20px;">
                        <i class="glyphicon glyphicon-link"></i>
                    </span>
                </a>
            </h2>
            {% if is_site_admin %}
            <button type="button" class="btn btn-primary pull-right sa-create-session">Add new session</button>
            {% endif %}
        </div>
        <table class="table table-bordered table-hover" >
            {% for session, can_admin in sessions %}
            <tr>
                <td>
                    {% if session.type == 'stack' %}
                    <a href="/webgl-viewer/stack?db={{ session.image_store.id|string }}&sess={{ session.id|string }}" class="lead">{{ session.label }}</a>
                    {% else %}
                    <a href="{{ url_for('.view_a_session', session=session) }}" class="lead">{{ session.label }}</a>
                    {% endif %}
                </td>
                {% if can_admin %}
                <td>
                    <span class="glyphicon glyphicon-remove-sign sa-session-delete pull-right"
                          data-session-id={{ session.id }}
                          data-collection-id={{ collection.id }}></span>
                    <a href="{{ url_for('.session_edit_view', session=session) }}" class="lead">
                        <button type="button" class="btn btn-danger">Edit</button>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br>
        {% endfor %}
    </div>
{% endblock content %}
