{% extends 'frontend_base.html' %}


{% block title %}{{ super() }} - Session Editor{% endblock title %}


{% block styles %}
{# TODO: base style assumes navbar will be present #}
{#{{ super() }}#}
    <link rel="stylesheet" href="/static/thirdparty/jquery-ui/1.10.2/jquery-ui.css">
    <link type="text/css" href="/webgl-viewer/static/css/saViewer.css" rel="stylesheet" />
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        #sortable li {
            margin: 0 3px 3px 3px;
            padding: 3px 3px 3px 1.5em;
            height: 37px;
            position: relative;
        }
        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }
        #sortable li img {
            margin: 0;
            padding: 0;
            float: left;
            height: 38px;
        }
        #sortable li input {
            padding: 4px;
            margin: 5px;
            float: left;
            width: 22em;
        }
        body {
            margin: 0;
        }
        #wrapper {
            width: auto;
            overflow: hidden;
        }
        #session {
            float: left;
            height: 100%;
            border: 1px solid #999;
        }
        #session div {
            padding-bottom: 10px;
        }
        #slideScroll {
            border: 1px solid #999;
            overflow-y: scroll;
        }
        #slideList {
            padding-top: 3px;
        }
        h2 {
            text-align: center;
            margin: 0;
        }
    </style>
{% endblock styles %}


{% block scripts %}
{{ super() }}




    <script src="/static/thirdparty/jquery-ui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('glviewer.static', filename='gallery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('glviewer.static', filename='collectionBrowser.js') }}"></script>
    <script>
        var SESSION_ID = "{{ session.id }}";

        $(function() {
            $( "#sortable" ).sortable({change:modified});
            $( "#sortable" ).disableSelection();
        });

        function deleteView(arg) {
            modified();
            // A hack, but how should it be done right?
            var tmp = "#"+arg;
            $(tmp).remove();
        }


        function save() {
            var views = [];
            var guiViews = [];
            $('li', '#sortable').each(function () {
                // This is a pain keeping an extra array to update with new view ids.
                // Better would be initializing with ajax call in the first place...
                guiViews.push($(this));
                var view = {
                    'copy': $(this).attr('copy'),
                    'label' : $('.descriptiveLabel',this).val(),
                    'hiddenLabel' : $('.hiddenLabel',this).val(),
                    'imgdb' : $(this).attr('imgdb'),
                    'img': $(this).attr('img')
                };
                var viewId = $(this).attr('view');
                if (viewId && viewId != "") {
                    view.view = viewId;
                }
                views.push(view);
            });

            // Save the new order in the database.
            // Python will have to detect if any view objects have to be deleted.
            var args = {};
            args.views = views;
            args.session = SESSION_ID;
            args.delete_views = true;
            args.label = $("#title").val();
            args.hideAnnotation = $('#hideCheck').is(':checked');

            $.ajax({
                type: "post",
                url: "{{ url_for('.session_save_view') }}",
                data: {"input" :  JSON.stringify( args )},
                success:
                  function save_success (data, status) {
                      // Redirect is problematic because I want to save multiple times
                      // and back in browser does not reload page completely
                      //window.location.href = "sessions?sessid="+data;
                      SESSION_ID = data._id;
                      // We need the ids of the new views so they will
                      // stay the same if we save again.
                      for (var i = 0; i<data.views.length; ++i) {
                        guiViews[i].attr('view', data.views[i]);
                        guiViews[i].removeAttr('copy');
                      }
                      $('#saveButton').css({"color":"#000"});
                  },
                error: function() { alert( "AJAX - error: session-save" ); }
            });

        }

        function cancel() {
            window.location.href = "{{ url_for('.view_a_session', session=session) }}";
        }

        function updateOptions() {
            var x=document.getElementById("title");
            //x.value=x.value.toUpperCase();
        }

        function handleResize() {
            // We need a dynamic resize
            var height = window.innerHeight - 2;
            $('#wrapper').css({"height": height});
            // I am having trouble getting the scroll bar to appear.
            var top = $('#slideScroll').position().top + 10;
            $('#slideScroll').css({"height":(height-top)});
            if ($('#slideList').outerHeight() < height-top) {
                $('#slideScroll').css({'overflow-y':'hidden'});
            }
            GALLERY.HandleResize();
        }

        function modified () {
            $('#saveButton').css({"color":"#E00"});
        }

        function hideAnnotation (flag) {
            modified();
            if (flag) {
                $(".descriptiveLabel" ).hide();
                $(".hiddenLabel" ).show();
            } else {
                $(".hiddenLabel" ).hide();
                $(".descriptiveLabel" ).show();
            }
        }

        var IMAGE_HOVER_LABEL;
        $(document).ready(function() {
            if ( {{ gallery }} ) {
                GALLERY = new Gallery();
            } else {
                GALLERY = new CollectionBrowser();
            }
            //GALLERY = new CollectionBrowser();
            GALLERY.AppendTo($('#wrapper'));
            GALLERY.DefaultCollectionLabel = "{{collection.label}}";
            GALLERY.DefaultSessionLabel = "{{session_son.label}}";
            GALLERY.OnSelect(AddViewToSession);

            {% if session_son.hide_annotations %}
            $('#hideCheck').attr('checked','checked');
            hideAnnotation(true);
            {% else %}
            $('#hideCheck').removeAttr('checked');
            hideAnnotation(false);
            {% endif %}

            // When the annotations are turned off we have to change the labels of the views.
            $("#hideCheck").change(
            function(){
                // trouble with loosing labels.
                save();
                hideAnnotation( $(this).is(':checked') );
            });

            $('#hideCheckTip').css({
                'position':'fixed',
                'left':'10px',
                'top':'30px',
                'z-index':'2',
                'background-color':'#EEF',
                'border':'1px solid #555',
                'border-radius':'15px',
                'padding':'3px 8px',
                'font-size':'medium'
            });

            $('#hideCheck').parent().hover(
                function () {$('#hideCheckTip').show();},
                function () {$('#hideCheckTip').hide();}
            );

            $(window).resize(function() {
                handleResize();
            }).trigger('resize');

            $('#saveButton').css({"color":"#000"});
            $("#title").on("input", modified);
            $(".descriptiveLabel").on("input", modified);
            $(".hiddenLabel").on("input", modified);
        });

        function AddViewToSession(imgdb, img, label, view) {
            // Indicate the session needs saving
            modified();
            var item = $('<li>').appendTo($('#sortable'))
                    .attr("class", "ui-state-default")
                    // We will have to create a new when id is not set.
                    .attr("imgdb",imgdb)
                    .attr("id",img)
                    .attr("view",view)
                    .attr("copy", 1)
                    .attr("img",img)
            $('<span>').appendTo(item)
                    .attr("class","ui-icon ui-icon-circle-close")
                    .click(function(){deleteView(img);});
            // I am trying to stop the drag effect of the image.  This does not work.
            $('<img>').appendTo(item)
                    .attr("src","/thumb?db="+imgdb+"&img="+img)
                    .on('dragstart', function(event) {
                        event.preventDefault();
                        return false;
                    });
            $('<input type="text" class="descriptiveLabel">').appendTo(item).val(label);
            $('<input type="text" class="hiddenLabel">').appendTo(item).val("");
            if ( $('#hideCheck').is(':checked')) {
                $(".descriptiveLabel").hide();
            } else {
                $(".hiddenLabel").hide();
            }

            // How to start this dragging with the mouse?
            //item.sortable('activate'); // not initialized yet ???

            var numViews = $("#sortable").children().length;
            if (numViews == 1) { // last was 0
                $("#saveButton").text("Save");
            }
        }
    </script>
{% endblock scripts %}


{# TODO: with navbar at the top, the session editor isn't the correct vertical height #}
{% block navbar %}{% endblock navbar %}


{% block content %}
{{ super() }}
    <div id="wrapper">
        <div id="session">
            <h2>{{ collection.label }}</h2>
            <div>
                <label>Title</label>
                <input type="text" id="title" onkeyup="updateOptions()" name="views" style="width: 340px;" value="{{ session_son.label }}"/>
            </div>
            <div>
                <button id="saveButton" onclick="save()" >Save</button>
                <button onclick="cancel()" >Cancel</button>
                <div style="float: right;"> <input type="checkbox" id="hideCheck">
                    Hide Markup
                    <div id="hideCheckTip" hidden>
                        Hide annotation and notes from student.  Use alternative slide labels.
                    </div>
                </div>
            </div>

            <div id="slideScroll">
                <div id="slideList">
                    <ul id="sortable">
                        {% for view_son in session_son.views %}
                        <li class="ui-state-default" id="{{ view_son.id }}"
                            view="{{ view_son.id }}" imgdb="{{ view_son.image_store_id }}">
                            <span class="ui-icon ui-icon-circle-close red" onclick="deleteView('{{ view_son.id }}')"></span>
                            <img src="{{url_for('tile.thumb_query')}}?db={{ view_son.image_store_id }}&img={{ view_son.image_id }}">
                            <!-- switch between annotation and hidden labels -->
                            <input type="text" value="{{ view_son.label }}" class="descriptiveLabel">
                            <input type="text" value="{{ view_son.hidden_label }}" class="hiddenLabel" hidden>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>
{% endblock content %}
