{% extends "base.html" %}


{% block body_content %}
{{ super() }}
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/jquery-migrate-1.1.0.min.js"></script>

<script>
    $(document).ready(function (){
         $("#signup").submit(function(event) {

             event.preventDefault();

             // if($("#name")[0].checkValidity()=== false){
                // //$("#namehelp").css("display", "inline");
                // $("#name")[0].setCustomValidity("Full name should be 3-30 alpha-numeric characters");
                // console.log("Error in name;")
                // return
             // }
            // else{
                // $("#name")[0].setCustomValidity("");
            // }
            // if($("#email")[0].checkValidity()=== false){
                // // Mark the field for error
                // $("#email")[0].setCustomValidity("Valid email address is required");
                // return
            // }
            // else{
                // $("#email")[0].setCustomValidity("");
            // }

            $.ajax({
                type: "POST",
                url : "/login.signup",
                data: { name: $("#name")[0].val(), email : $("#email")[0].val() },
                success : function( data ) {
                        console.log(data)
                        alert("We have send you an e-mail. Please follow the instructions to continue with signup.");
                    },
                error : function (data){
                        alert("error while posting");
                },
            });
        });
    });

</script>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 offset1">
           <h1>Welcome to Slide Atlas</h1>
           <h3> New account information </h3>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <form action="/login.signup" method="post">
        <div class="span8 offset2 ">
            <div>
                <label for="name">Your full name:</label>
                <input type="text" name="name" id="name" pattern="[A-Za-z0-9 ]{3,30}" required title="Full name should be 3-30 alpha-numeric characters">
            </div>
            <div>
                <label for="email" >Email:</label>
                <input type="email" name="email" id="email" required title="Please enter a valid email here">
            </div>
                <button id="signup" type="submit" class="btn">Sign Up</button>
            </div>
        </form>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8 offset1">
            <p> Slide-atlas will not share your email address with anybody else and will not use it for any other purpose than slide-atlas. </p>
            <p> Your email address will be used to identify your affiliation to courses so that correct slides are provided to you. </p>
        </div>
    </div>
</div>
{% endblock %}

