{% extends "base.html" %}
{% set active_page = "status" %}

{% block body_content %}
{{ super() }}
<div class="container">
    <h1>Welcome to SlideAtlas</h1>
    <br/>
    <br/>
    <table class="table table-bordered table-hover">
        <tr>
            <td>Version</td>
            <td>{{ version }}</td>
        </tr>
        <tr>
            <td>Host</td>
            <td>{{ host }}</td>
        </tr>
    </table>

    {% if current_user.is_authenticated() %}
    <table class="table table-bordered table-hover">
        <tr>
            <td>User Email</td>
            <td>{{ current_user.email }}</td>
        </tr>
        <tr>
            <td>User Full Name</td>
            <td>{{ current_user.full_name }}</td>
        </tr>
    </table>
    {% else %}
        User not authenticated

    {% endif %}
</div>
{% endblock %}
