<div ng-controller="SearchCtrl">

<!--         <img alt="loading ..." src="/webgl-viewer/static/circular.gif" height="25%">
 -->
    <div class="row">
        <div class="col-xs-5">
        <form ng-submit="updateSearch()">
            <input type="text" ng-model="query" placeholder="search" class="form-control">
        </form>
        </div>
        <div class="col-xs-5">
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                    ng-click="viewType='list'"
                    ng-class="{ 'active' : viewType == 'list' }">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default"
                    ng-click="viewType='tree'"
                    ng-class="{ 'active' : viewType == 'tree' }">
                    <img src="/static/ng-app/search/tree.png" width="15px" height="16px">
                </button>
<!--                 <button type="button" class="btn btn-default"
                    ng-click="viewType='table'"
                    ng-class="{ 'active' : viewType == 'table' }">
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                </button>
 -->
            </div>
        </div>
        <div class="col-xs-5">
        View: {{ viewType }}
        </div>
    </div>

    <br>

    <div class="row" ng-show="viewType=='list'">
        <table class="table table-bordered table-hover" ng-show="results.length > 0">
            <th> _id </th>
            <th> Title </th>
            <th> Text </th>
            <tr ng-repeat="ares in results">
                <td> <a href="/view?viewid={{ares._id}}"> <img src="/viewthumb?viewid={{ares._id}}&binary=1" style="min-width: 50px; height:50px"> </a>
                </td>
                <td><a href="/view?viewid={{ares._id}}">  <span ng-bind-html="ares.Title | highlight:query.split(' ')"></span></a>
                </td>
                <td> <span ng-bind-html="ares.Text | highlight:query.split(' ')"></span> </td>
            </tr>
        </table>
    </div>

    <div class="row" ng-show="viewType=='tree'">
        <accordion close-others="oneAtATime" ng-show="query.length > 0">
        <accordion-group ng-repeat="arole in resultTree" heading="{{arole.rule}} ({{arole.sessions.length}} sessions)" is-open="arole.isOpen">

            <accordion close-others="oneAtATime">
            <accordion-group ng-repeat="session in arole.sessions" heading="{{session.label}} ({{session.views.length}} views)" is-open="session.isOpen">
                <accordion-heading>
                    {{session.label}} ({{session.views.length}} views)
                    <a ng-href='/sessions/{{session.sessid}}' ng-click="visit('/sessions/' + session.sessid, $event)"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                     </a>
                </accordion-heading>
                <table class="table table-striped">
                    <tr ng-repeat="aview in session.views" ng-init="viewobj = resultViews[aview]">
                        <td> <img ng-src="/viewthumb?viewid={{viewobj._id}}&binary=1" style="min-width: 50px; height:50px"> </td>
                        <td>
                            <a ng-href="/view?viewid={{ares._id}}">
                             <span ng-bind-html="viewobj.Title | highlight:query.split(' ')"></span>
                             </a>
                        </td>
                    </tr>
                </table>
            </accordion-group>
            </accordion>
        </accordion-group>
        </accordion>
    </div>
</div>