<p>Hello {{ user.full_name }},</p>

<p>You recently created a new account at {{ site_url|urlize }}.  To proceed with your account creation please follow the link below:<br>
<br>
    {{ confirmation_link|urlize }}</p>

<p>If clicking on the link doesn't work, try copying and pasting it into your browser.</p>

<p>This link will work only once.</p>

<p>If you did not enter this address as your contact email, please disregard this message.</p>

<p>Thank you,<br>
The SlideAtlas Administration Team</p>
