<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style>
        .rotated {
             transform:rotate(-90deg);
            -ms-transform:rotate(-90deg); /* IE 9 */
            -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
        }

        }



    </style>
    <title>Pyramidal TIFF viewer </title>
</head>

<body>

    <h1> Slides available </h1>
    <div class="container">

        <div ng-controller="MyCtrl">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="slide in slides" ng-click="setSelected();">
                        <td>
                            <a href="/ptiff-server?image={{slide.name}}" class="lead">{{slide.barcode}}{{slide.name}}</a>
                        </td>
                        <td>
                            <img ng-src="/apiv1/slides/{{slide.name}}/label" width=100px class="rotated">
                        </td>
                        <td>
                            <img ng-src="/apiv1/slides/{{slide.name}}/macro" width=200px>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"> </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script>
    var myApp = angular.module('myApp',[]);

    function MyCtrl($scope,$http) {

        $http({
            url: "/apiv1/slides",
            dataType: "json",
            method: "GET",
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            }
        }).success(function(response){
            $scope.slides = response.slides;
        }).error(function(error){
            $scope.error = error;
        });

        $scope.setSelected = function() {
            $scope.selected = this.slide;
            console.log($scope.selected);
        };

    }
    </script>

</body>
</html>